<%= form_with(model: faculty, local: true) do |form| %>
  <% if faculty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(faculty.errors.count, "error") %> prohibited this faculty from being saved:</h2>

      <ul>
      <% faculty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :school %>
    <%= form.text_field :school %>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.number_field :phonenumber %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    
    
    <%= form.select :room_id, options_for_select(Room.all.map{|s|[s.name, s.id]}) %>
    <!--sets the room_id based the options from all the rooms names -->

  </div>

  <div class="field">
    <%= form.label :stafftype %>
    <%= form.select :stafftype, Faculty.stafftypes.keys %>
    <!-- sets the stafftype variable equal to the faculty model enum -->
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
