<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :room_id %>
    <%= form.select :room_id, options_for_select(Room.all.map{|s|[s.name, s.id]}) %>

  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.select :subject_id, options_for_select(Subject.all.map{|s|[s.classname, s.id]}) %>
  </div>

  <div class="field">
    <%= form.label :timeslot_id %>
    <%= form.select :timeslot_id, options_for_select(Timeslot.all.map{|s|[s.start, s.id]}) %>

  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Booking.statuses.keys %>

  </div>

  <div class="field">
    <%= form.label :supervision %>
    <%= form.check_box :supervision %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
