<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @booking.email %>
</p>

<p>
  <strong>Room:</strong>
  <%= @booking.room %>
</p>

<p>
  <strong>Timeslot:</strong>
  <%= @booking.timeslot %>
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status %>
</p>

<p>
  <strong>Supervision:</strong>
  <%= @booking.supervision %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
