<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<h1 class="page-header">Hello NCI</h1>
<h2>This is the timetabling system</h2>
<p><%=@hello%></p>
<table>
    <tbody>
      <h1>Todays Bookings</h1>
    <% @today.each do |booking| %>
      <tr>
        <td>Email: <%= booking.email %></td>
        <td>Room: <%= booking.room.name %></td>
        <td>Date: <%= booking.date %></td>
        
      </tr>
    <% end %>      
    
    </tbody>
</table>

<table>
    <tbody>
      <h1>All Other Bookings</h1>
    <% @allaftertomorrow.each do |booking| %>
      <tr>
        <td>Email: <%= booking.email %></td>
        <td>Room: <%= booking.room.name %></td>
        <td>Date: <%= booking.date %></td>
        
      </tr>
    <% end %>  
    </tbody>
</table>

<table>
    <tbody>
      <h1>Room 1</h1>
    <% @room.each do |booking| %>
      <tr>
        <td>Email: <%= booking.email %></td>
        <td>Room: <%= booking.room.name %></td>
        <td>Date: <%= booking.date %></td>
        
      </tr>
    <% end %>  
    </tbody>
</table>

 

    
    
<table class="table">
  <thead>
    <tr>
      <%Booking.starttimes.keys.each do |k| %>
        <th scope="col"><%=k%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%Room.all.each do |k|%>
    <tr>
        <th><%= k.name %></th>
        <td>Hello</td>
        <td>Hello</td>
    </tr>
    
    <%end%>
    
    
  </tbody>
</table>
    
   


 