<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<h1>Hello World</h1>
<h2>This is the timetabling system</h2>
<p><%=@hello%></p>
<table>
    <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td>Email: <%= booking.email %></td>
        <td>Date: <%= booking.timeslot.start %></td>
        
      </tr>
    <% end %>       
    </tbody>
</table>
 