<!DOCTYPE html>
<html>
  <head>
    <title>Timetable</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>Signed in as... <%= current_user.email %>
      (<%= link_to 'Sign out', destroy_user_session_path,:method => :delete%>)  </div>
      <% else %>
      <%= link_to'Register', new_user_registration_path %> or
      <%= link_to'Sign in', new_user_session_path %>
      
      
       <!--<%= check_box"Admin Login", @au  %> -->
      
      
     <% end %>
    
     
     <a href="<%=root_path%>">Home</a>
     <a href="<%=rooms_path%>">New Room</a>
     <a href="<%=faculties_path%>">New Faculty</a>
     <a href="<%=courses_path%>">Course</a>
     <a href="<%=subjects_path%>">Subjects</a>
     <a href="<%=bookings_path%>">Booking</a>

    <%= yield %>
    
  </body>
</html>
